$font-stack:    Helvetica, sans-serif
$primary-color: #444
$white: #FFF

body
  font: 100% $font-stack
  color: $primary-color

header
  background: #FF6600
  margin-bottom: 1.45rem

.headerDiv
  margin: 0 auto
  max-width: 960px
  padding: 0.45rem 0.0875rem
  color: #FFFFFF
  text-decoration: none

.turnMeGreen
  color: #0f0
